<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteBase /projet_blog_mglsi/soapService/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ UserController.php?url=$1 [QSA,L]
</IfModule>